.App {
    font-family: "Patrick Hand SC", sans-serif;
    background-color: rgb(228, 218, 226);
    min-height: 100vh;
    color: rgb(31, 31, 31)
}
.Main {
    padding-top: 135px;
}
a {
    color: rgb(31, 31, 31);
}
a:hover {
    color: rgba(31, 31, 31, 0.5);
    text-decoration: none;
}